h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 50px; 
}

/* Class selector */
.common {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size:25px;

    position: absolute;
    background-color: bisque;
    border: solid 1px black; 
}

.header {
    top: 5px;
    left: 5px;
    height: 100px;
    padding-left: 20px;
    right: 5px;
}

.leftmenu {
    top: 116px;
    left: 5px;
    bottom: 50px;
    width: 150px;
}

.mainbody {
    top: 116px;
    left: 161px;
    bottom: 50px;
    right: 161px;
    padding-left: 50px;
}

.rightmenu {
    top: 116px;
    right: 5px;
    bottom: 50px; 
    width: 150px;
}

.footer {
    bottom: 5px; 
    left: 5px; 
    right: 5px;
    height: 40px;
}